@font-face {
    font-family: "DisposableDroidBB-Regular";
    src: url("../fonts/DisposableDroidBB.woff") format("woff");
}

@font-face {
    font-family: "DisposableDroidBB-Bold";
    src: url("../fonts/DisposableDroidBBBold.woff") format("woff");
}

@font-face {
    font-family: "DisposableDroidBB-Italic";
    src: url("../fonts/DisposableDroidBBItalic.woff") format("woff");
}

@font-face {
    font-family: 'StardewValleyBold';
    src: url('../fonts/StardewValleyBold.woff2') format('woff2'),
        url('../fonts/StardewValleyBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'StardewValley';
    src: url('../fonts/StardewValley.woff2') format('woff2'),
        url('../fonts/StardewValley.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
